body{
    background-color:#30303029;

}
table {
    background-color: white;
    border-radius: 12px;
}

.table-custom{
    width: 1800px;
    height: 600px;
}

.thead {
    background-color: #EAEAEA;
}